/products/app/config/config.yml
/html/bundles/
/products/app/bootstrap.php.cache
/products/app/cache/*
/products/app/config/parameters.yml
/products/app/config/payment.yml
/products/app/logs/*
!/products/app/cache/.gitkeep
!/products/app/logs/.gitkeep
/products/app/phpunit.xml
/products/build/
!/products/vendor/
/products/bin/
/products/var/
/products/composer.phar
/html/products/assets/backend/assets/js/plugins/amcharts/v4/geodata
/.idea/*
/products/nbproject/private/
