<table width="100%">
    <tbody>
    <tr>
        <td align="left" width="20%">
            <img src="{{ asset('assets/backend/img/logo-corp-red2.png') }}" width="80px" alt="">
        </td>
        <td width="80%" align="right">
            <small>{{ 'now'|date('Y-m-d') }}</small>
        </td>
    </tr>
    </tbody>
</table>
