
.icon-snow:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-fuel:before { content: '\e802'; } /* '' */
.icon-car-door:before { content: '\e803'; } /* '' */