{% trans_default_domain 'AppBundle' %}

{{ factura.notas }}
<a href="{{ path('tn_factura_notas_edit', {'token': factura.token }) }}"
   data-target='#modal-form'
   data-toggle="tooltip"
   data-placement="right"
   class="btn btn-xs btn-primary btn-circle btn-outline"
   title="{{ 'backend.factura.table.edit_note'| trans }}"><i
            class="fa fa-comments-o"></i></a>

